<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="flightSearch.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" />
</head>
<body>
	<div ng-app="flight-search-demo" ng-controller="FlightSearchCtrl" >

		<div  class="flight-src-module">
			<label><b>Search Airports</b></label> 
			<input type="text"	ng-model="searchString"  class="form-control" ng-change="searchTextChanged()" />
			<span ng-if="errorsearchResultflag" style="color: red;">Please check origin city or airport(code) entered.</span>
		</div>
		<div ng-if="searchAllResult && !errorsearchResultflag">
			<table border="1" >
				<tr>
					<th>Airport</th>
					<th>Airport Code</th>
					<th>Description</th>
				<tr>
				<tr ng-repeat="item in searchAllResult">
					<td>{{item.name}}</td>
					<td>{{item.code}}</td>
					<td>{{item.description}}</td>
				</tr>
			</table>
		</div>
		
		<br />

		<div ng-if="errorsearchResultflag">
			<label><b>Error </b></label> <br />
			<table style="width: 100%">
				<tr><td>TimeStamp</td><td><span ng-bind="errorsearchResult.timestamp"></span></td></tr>
				<tr><td>Status:</td><td><span ng-bind="errorsearchResult.status"></span></td></tr>
				<tr><td>Error:</td><td><span ng-bind="errorsearchResult.error"></span></td></tr>
				<tr><td>Message:</td><td><span ng-bind="errorsearchResult.message"></span></td>
				</tr>
			</table>
		</div>		
	</div>

</body>
</html>
