<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="flightSearch.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" />
</head>
<body>
	<div ng-app="flight-search-demo" ng-controller="FlightSearchCtrl" >
		<div  class="flight-src-module">
			<input type="text" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" 
			uib-typeahead=" state as state.description  for state in statesWithFlags | filter:$viewValue | limitTo:8" class="form-control" ng-change="searchTextChangedAuto($viewValue)"  typeahead-loading="loadingLocations" typeahead-no-results="noResults" />
		 	<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
		</div>
	
	 
	 <div> {{_selected}}</div>
	 
	 </div>

</body>
</html>
