<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="flightSearch.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" />
</head>
<body>
	<div ng-app="flight-search-demo" ng-controller="FlightSearchCtrl" >

		<div class="flight-src-module">
			<h1 class="heading"> Search flights</h1>
			<div>
				<label><b>Leaving From </b></label> 
				<input type="text" ng-model="source" ng-change="srcTextChanged()" placeholder="source " class="form-control" required/>
				<span ng-show="errorsrc" style="color: red;">Please check origin city or airport(code) entered.</span>
			</div>
			
			<div >
				<label><b>Going To</b></label> 
			 	<input type="text" ng-model="destination" ng-change="desttextChanged()" placeholder="destination "  class="form-control" required/>
			    <span ng-show="errordest" style="color: red;">Please check destination city or airport(code) entered.</span> 
			</div>
			
			<div>
				<button type="button" ng-click="callFlighSearch()" ng-disabled="disablePaymentButton" >Search Flight</button>
			</div>
		</div>
		<br />

		<div ng-if="searchResult" class="flight-src-module">
			<label><b>Flight Search Result</b></label> <br />
			<table>
				<tr><td>Source</td><td><span ng-bind="searchResult.source"></span></td></tr>
				<tr><td>Destination</td><td><span ng-bind="searchResult.destination"></span></td></tr>
				<tr><td>Price</td><td><span ng-bind="searchResult.price"></span></td></tr>
				<tr><td>Currency</td><td><span ng-bind="searchResult.currency"></span></td></tr>
			</table>
		</div>

		<div ng-if="bkerror && !searchResult">
			<label><b>Error </b></label> <br />
			<table style="width: 100%">
				<tr><td>TimeStamp</td><td><span ng-bind="bkerror.timestamp"></span></td></tr>
				<tr><td>Status:</td><td><span ng-bind="bkerror.status"></span></td></tr>
				<tr><td>Error:</td><td><span ng-bind="bkerror.error"></span></td></tr>
				<tr><td>Message:</td><td><span ng-bind="bkerror.message"></span></td>
				</tr>
			</table>
		</div>		
	</div>

</body>
</html>
