<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="flightSearch.js"></script>
<link href="style.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div ng-app="flight-search-demo" ng-controller="FlightSearchCtrl" ng-init="getAllRequestStatistics()">

		<div class="flight-src-module" >
			<h1 class="heading">Flight Search Result Statistic</h1>
				<div ng-if="statResult">
				<table>
						<tr><td>Total number of requests processed</td><td><span ng-bind="statResult.numberOfRequests"></span></td></tr>
						<tr><td>Total number of requests resulted in an OK response</td><td><span ng-bind="statResult.successRequests"></span></td></tr>
						<tr><td>Total number of requests resulted in a 4xx response</td><td><span ng-bind="statResult.failedRequests_4xx"></span></td></tr>
						<tr><td>Total number of requests resulted in a 5xx response</td><td><span ng-bind="statResult.failedRequests"></span></td></tr>
						<tr><td>Average response time of all requests</td><td><span ng-bind="statResult.avResponseTime"></span></td></tr>
						<tr><td>Min response time of all requests</td><td><span ng-bind="statResult.minResponseTime"></span></td></tr>
						<tr><td>Max response time of all requests</td><td><span ng-bind="statResult.maxResTime"></span></td></tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
